<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{object.title}}</h1>
<h2>{{object.made_in}}</h2>
<h3>{{object.watches_author}}</h3>
<h4>{{object.operating_principle}}</h4>
<P><b>{{object.description}}</b></P>
<img src="{{object.image.url}}" alt="image">
<iframe src = "{{object.video_of_watches}}" frameborder="0"></iframe>
<button><a href="/watch_detail/{{object.id}}/delete/">Удалить</a></button>
<button><a href="/watch_detail/{{object.id}}/update/">Изменить</a></button>
</body>
</html>













